body {
  margin: 0px;
}

p {
color: black;
font-size: 18px; 
font-family: Verdana, Geneva, Tahoma, sans-serif;
background-color: yellow;
}

.foodtitle {
display: inline-block;
}

.price {
display: inline-block;
}


#centerbox {
margin: auto;
position: absolute;
top: 280px; left: 300px;
bottom: 280px; right: 300px;
background-color: yellow;
z-index:5;
border:1px solid blue;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}


#box1 {
width:47%;
Height:25%;
background-color: mediumpurple;
display:inline-block; 
padding:10px;
margin:0px;
z-index: -1;

}

.image1 {
 margin-left:5px; 
 border:1px solid blue;
}

.image2 {
 margin-left:480px; 
 border:1px solid blue;
}


#box2 {
width:48%;
Height:25%;
background-color: mediumseagreen;
display: inline-block; 
padding:10px;
margin:0px;
z-index: -1;

 
}

#box3 {
width:47%;
Height:25%;
background-color: mediumturquoise;
display: inline-block; 
padding: 10px;
margin:0px; 


}

#box4 {
width:48%;
Height:25%;
background-color: orange;
display: inline-block; 
padding: 10px;
margin:0px;

}